.editor-js-audio-plugin {
  display grid
  grid-gap 16px

  &__cover {
    display grid
  }

  &__cover-image {
    position relative
    width 100%
    height 250px
    border-radius 5px
    overflow hidden

    img {
      width 100%
      height 100%
      object-fit contain
      background #fafafa
      object-position center
      border-radius 5px
    }
  }


  &__audio-player {
    position relative
    display inline-flex
    align-items center
    gap 16px
  }

  &__close {
    position absolute
    right 8px
    top 8px
    width 26px
    height 26px
    display inline-flex
    align-items center
    justify-content center
    border none
    background #e9e9e9
    border-radius 5px
    cursor pointer

    &:hover {
      background #e2e2e2
    }

    svg {
      width 24px
      height 24px
    }
  }

  &__audio {
    display grid
    grid-template-columns 1fr 1fr
    grid-gap 16px
  }

  & .cdx-button {
    position relative

    input[type='file'] {
      position absolute
      left 0
      top 0
      width 0
      height 0
    }
  }
}